
//fonts

$base-font                : 'Lora', serif;
$heading-font             : 'Playfair Display', serif;

$base-font-size           : 16px;

//colors

$white                    : #ffffff;
$dark-black               : #000000;

$black                    : #222222;
$black-light              : #454545;
$black-lighter            : #777777;

$gray                    : #a4a4a4;
$gray-light              : #cfcfcf;
$gray-lighter            : #f0f0f0;

$gold                    : #cba866;
$gold-light              : #d5b985;
$gold-lighter            : #e5d3b2;


$border-color             : #e8e8e8;
