.single-post {

  .comment-respond {
    margin-bottom: 5rem;
  }
  .comment-reply-title {
    text-align: center;
    margin-bottom: 5rem;
  }
  .comment-form {
    .form-group{
      margin-bottom: 2rem;
    }
    .btn {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    p{
      color: $black-lighter;
    }
  }
}


@media (max-width: 991px) {

  .single-post .comment-reply-title{
    margin-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .single-post {
    .comment-respond {
      margin-bottom: 2rem;
    }
  }
}